# fly.toml app configuration file generated for docker-nginx2 on 2024-02-13T16:27:09+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'docker-nginx2'
primary_region = 'nrt'


[build]
  image = "dhparkdocker/nginx-my-html:0.2.0"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 3 
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
